.page-content {
    background-color: rgb(235, 235, 235);
    /*rgb(56, 61, 68)
    rgb(38, 110, 110)
    */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 120px;
    color: #302f2f;
}

.books {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    row-gap: 20px;
}

.book-title, .book-author, .book-company, .book-pages-count {
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.links-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.book-details-links-section {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.book-details-links-section .change-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    align-self: center;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
}

.book-details-links-section .change-button:hover {
    color: #e26221;
    background-color: #f3ddd2;
}

.links-section a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.btn-goback {
    margin-right: auto;
}

.see-more-button {
    color: #18BAF0;
}

.see-more-button:hover {
    color: #15afe2;
}

.change-button {
    color: #FF722A;
}

.delete-button {
    color: #FF2638;
}

.pagination-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.btn-new {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.book-details {
    width: 90%;
    max-width: 800px;
    align-self: center;
    box-sizing: border-box;
    padding: 20px;
}

.book-details-property {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.book-form {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    align-self: center;
    box-sizing: border-box;
    padding: 20px;
}

.book-form-title, .book-details-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.book-form-input {
    width: 90%;
    margin-top: 20px;
}

.buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alert {
    position: fixed !important;
    padding: 1rem 1rem !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    width: 80% !important;
    top: 10px !important;
    z-index: 10 !important;
    left: 0 !important;
}

@media screen and (max-width: 1550px) {
    .title {
        font-size: 100px;
        margin-top: 100px;
    }

    .books {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        align-content: center;
        row-gap: 20px;
    }
}

@media screen and (max-width: 1250px) {
    .title {
        font-size: 70px;
    }

    .books {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        align-content: center;
        row-gap: 20px;
    }
}

@media screen and (max-width: 850px) {
    .title {
        font-size: 45px;
    }

    .books {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        align-content: center;
        row-gap: 20px;
    }
}