.page-content {
    background-color: rgb(61, 65, 62);
    /*rgb(56, 61, 68)
    rgb(38, 110, 110)
    */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 120px;
    color: #f1e7e7;
}

.books {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    row-gap: 20px;
}

.book-title, .book-author, .book-company, .book-pages-count {
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.links-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links-section a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.see-more-button {
    color: #18BAF0;
}

.change-button {
    color: #FF722A;
}

.delete-button {
    color: #FF2638;
}

.pagination-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.btn-new {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.book-form {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    align-self: center;
    box-sizing: border-box;
    padding: 20px;
}

.book-form-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.book-form-input {
    width: 90%;
    margin-top: 20px;
}

.buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1550px) {
    .title {
        font-size: 100px;
    }

    .books {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        align-content: center;
        row-gap: 20px;
    }
}

@media screen and (max-width: 1250px) {
    .title {
        font-size: 70px;
    }

    .books {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        align-content: center;
        row-gap: 20px;
    }
}

@media screen and (max-width: 850px) {
    .title {
        font-size: 50px;
        margin-top: 20px;
    }

    .books {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        align-content: center;
        row-gap: 20px;
    }
}